# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: nuuw-studio/bemo-expertises
  branch: master
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/ed9f3538-58d6-4d68-9ec3-01465c193388/pkce
  auth_token_endpoint: /sites/ed9f3538-58d6-4d68-9ec3-01465c193388/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Better Decap + Bridge logo (optional)
logo_url: https://decapbridge.com/decapcms-with-bridge.svg

# Add site links in Decap CMS (optional)
site_url: https://bemo-expertises.be
media_folder: "src/static/img"
public_folder: "/static/img"
display_url: /

# Please run "npx decap-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - label: "Enkelvoudige pagina's"
    name: "pages"
    files:
      - label: "Homepage"
        name: "home"
        file: "src/index.html"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Intro, name: intro, widget: markdown}
          - label: Team
            name: team
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Position, name: position, widget: string}
              - {label: Photo, name: photo, widget: image}

  - label: "Diensten"
    name: "diensten"
    folder: "src/diensten"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Overzicht icoon", name: "icon", widget: "string", hint: "Use FontAwesome icon name, e.g., 'file-certificate'" }
      - { label: "overzicht afbeelding", name: "intro_image", widget: "image", hint: "Affbeelding voor blokje in dienstenlijst" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "hero afbeelding", name: "hero_image", widget: "image", hint: "Hero afbeelding voor de dienst pagina" }
      - { label: "Hero inhoud", name: "hero_content", widget: "list", types: [
          { label: "Tekst", name: "text", widget: "object", fields: [
              { label: "Inhoud", name: "content", widget: "markdown", hint: "Voeg tekst toe voor deze sectie" }
            ]
          },
          {
            label: "Icon list",
            name: "iconlist",
            widget: "object",
            fields: [
              {
                label: "Items",
                name: "items",
                widget: "list",
                hint: "Voeg items toe aan de lijst",
                fields: [
                  { label: "Icon", name: "icon", widget: "string" },
                  { label: "text", name: "text", widget: "string" }
              ]
            }
          ]
        }
      ]
      }
      - { label: "Tags", name: "tags", widget: "hidden", default: "dienst" }
      - { label: "Lees meer link tekst", name: "read_more", widget: "string", required: false, hint: "Optional custom text for the 'read more' link" }
      - { label: galerij, label_singular: afbeelding, name: gallery, widget: list, required: false, hint: "Optionele galerij van afbeeldingen voor de dienst pagina", fields: [
          { label: Afbeelding, name: image, widget: image },
          { label: Bijschrift, name: caption, widget: string, required: false }
        ]
      }

  - label: "Blog"
    name: "blog"
    folder: "src/posts"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - widget: select
        label: "tags"
        name: "tags"
        multiple: true
        create: true
        options: ["Tags", "created", "from", "config.yml"]

  - label: "Settings"
    name: "settings"
    editor:
      preview: false
    files:
      - label: "Navigation"
        name: "items"
        file: "src/_data/navigation.yaml"
        fields:
          - label: Nav Items
            name: items
            widget: list
            allow_add: true
            collapsed: true
            fields:
              - { label: Title, name: text, widget: string }
              - { label: URL, name: url, widget: string }
      - label: "Quick Links"
        name: "links"
        file: "src/_data/quicklinks.yaml"
        fields:
          - label: Nav Items
            name: links
            widget: list
            collapsed: false
            fields:
              - { label: Title, name: title, widget: string }
              - { label: URL, name: url, widget: string }
              - { label: Description, name: desc, widget: string }
      - label: "Meta Settings"
        name: "settings"
        file: "src/_data/settings.yaml"
        fields:
          - { label: Name, name: name, widget: string }
          - { label: Author, name: author, widget: string }
          - { label: URL, name: url, widget: string }
