---
layout: default
title: Asbestinventarisatie, EPC's, sloopopvolging
path: home
intro: >-
  Bemo, uw partner voor helder vastgoedbeheer!


  Ontdek onze EPC's, asbestinventarisatie en sloopopvolgingsplannen voor een stressvrije vastgoedervaring.
hero_image: /static/img/interieur.jpg
cta_buttons:
  - text: Contacteer ons vrijblijvend
    link: "#contact"
  - text: Meer over onze diensten
    link: "#diensten"
---

{% include "./_includes/partials/hero.html" %}

<main>
  {% include "./_includes/partials/features.html" %}

  {% include "./_includes/partials/content.html" %}
</main>

{% include "./_includes/partials/contact.html" %}
