<div class="container px-4 py-10 sm:px-6 lg:px-8 lg:py-20" id="epc">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
        <div class="w-full h-full overflow-hidden relative min-h-40">
            <img
                class="rounded-xl object-cover h-full w-full absolute"
                src="/static/img/epc.jpg"
                alt="epc"
            />
        </div>
        <!-- End Col -->
        <div class="mt-5 sm:mt-10 lg:mt-0 py-8 lg:py-12">
            <div class="space-y-6 sm:space-y-8">
                <!-- Title -->
                <div class="space-y-2 md:space-y-4">
                    <h2 class="font-bold text-3xl lg:text-4xl hyphens-auto">
                        Energie&shy;prestatie&shy;certificaat (EPC)
                    </h2>
                    <p>
                        Het Energieprestatiecertificaat (EPC) is een essentiële
                        stap bij de verkoop of verhuur van uw huis. Het geeft u
                        inzicht in de energiezuinigheid en helpt potentiële
                        kopers of huurders te begrijpen hoe efficiënt uw woning
                        is. Bij BeMo Expertises maken we het proces eenvoudig en
                        probleemloos. Of u nu een huis, een klein kantoorgebouw
                        of zelfs een appartement bezit, onze deskundigen staan
                        klaar om u te helpen. Laat ons uw EPC regelen, zodat u
                        met vertrouwen kunt verkopen of verhuren.
                    </p>
                </div>
                <!-- End Title -->

                <!-- List -->
                <ul class="space-y-2 sm:space-y-4">
                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span>Verplicht bij verkoop of verhuur.</span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span> Vergroot de waarde van uw huis. </span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span class="size-5 flex justify-center items-center rounded-full text-bluegreen" >
                            <i class="fa-sharp fa-light fa-circle-check"></i>
                        </span>

                        <span> Professionele begeleiding verzekerd. </span>
                    </li>
                </ul>
                <!-- End List -->
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<div class="container px-4 py-10 sm:px-6 lg:px-8 lg:py-20" id="asbestattest">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
        <div class="overflow-hidden h-full relative lg:order-last min-h-40">
            <img
                class="rounded-xl object-cover h-full w-full absolute"
                src="/static/img/asbest.jpg"
                alt="asbestattest"
            />
        </div>
        <!-- End Col -->
        <div class="mt-5 sm:mt-10 lg:mt-0 py-8 lg:py-12">
            <div class="space-y-6 sm:space-y-8">
                <!-- Title -->
                <div class="space-y-2 md:space-y-4">
                    <h2 class="font-bold text-3xl lg:text-4xl">
                        Asbestattest
                    </h2>
                    <p>
                        Vanaf 23 november 2022 is dit attest vereist bij de verkoop van elke woning of gebouw, groot of klein. En vanaf 2025 is het zelfs nodig voor de gedeelde ruimtes in appartementencomplexen. Meestal is het gewoon een visuele check, maar voor renovaties bieden we ook grondigere inspecties aan.
                    </p>
                </div>
                <!-- End Title -->

                <!-- List -->
                <ul class="space-y-2 sm:space-y-4">
                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span>Verplicht bij verkoop van elk gebouw.</span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span>Identificeer mogelijke risico's.</span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span class="size-5 flex justify-center items-center rounded-full text-bluegreen" >
                            <i class="fa-sharp fa-light fa-circle-check"></i>
                        </span>

                        <span>Zorg ervoor dat uw woning voldoet aan de normen.</span>
                    </li>
                </ul>
                <!-- End List -->
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<div class="container px-4 py-10 sm:px-6 lg:px-8 lg:py-20" id="sloopopvolging">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
    <div class="overflow-hidden h-full relative min-h-40">
        <img
            class="rounded-xl object-cover h-full w-full absolute"
            src="/static/img/sloop.jpg"
            alt="sloopwerken"
        />
        </div>
        <!-- End Col -->
        <div class="mt-5 sm:mt-10 lg:mt-0 py-8 lg:py-12">
            <div class="space-y-6 sm:space-y-8">
                <!-- Title -->
                <div class="space-y-2 md:space-y-4">
                    <h2 class="font-bold text-3xl lg:text-4xl hyphens-auto">
                        Sloopopvolgingsplan
                    </h2>
                    <p>
                        Voordat u begint met het slopen van uw gebouw, moet u een sloopopvolgingsplan hebben. Dit is vereist voor grote gebouwen, en het is onze taak om alles voor u te regelen. We inspecteren het hele gebouw zorgvuldig, van gevaarlijke stoffen zoals asbest tot alle andere materialen, om ervoor te zorgen dat alles soepel en veilig verloopt. Met ons aan uw zijde kunt u zonder zorgen aan uw sloopproject beginnen.
                    </p>
                </div>
                <!-- End Title -->

                <!-- List -->
                <ul class="space-y-2 sm:space-y-4">
                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span>Verplicht bij sloop van grote gebouwen.</span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span
                            class="size-5 flex justify-center items-center rounded-full text-bluegreen"
                        >
                            <i
                                class="fa-sharp fa-light fa-circle-check fa-fw"
                            ></i>
                        </span>

                        <span>Minimaliseer risico's tijdens sloopwerkzaamheden.</span>
                    </li>

                    <li class="flex space-x-3 items-center">
                        <span class="size-5 flex justify-center items-center rounded-full text-bluegreen" >
                            <i class="fa-sharp fa-light fa-circle-check"></i>
                        </span>

                        <span>Verzeker een veilige en gecontroleerde sloop.</span>
                    </li>
                </ul>
                <!-- End List -->
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>