<footer class="p-4 bg-white md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="/" class="flex justify-center items-center text-2xl font-semibold  ">
        <img
            src="/static/img/bemo-logo.svg"
            alt="Bemo expertises logo"
            class="w-32 md:w-52"
        />
      </a>
      <p class="my-6 text-gray-500 ">Deskundigheid die uw vastgoed verdient: BeMo expertises, uw betrouwbare partner.</p>
      <div class="text-sm text-gray-500 sm:text-center ">
        © 2024 <a href="/" class="hover:underline">Bemo expertises</a>.
        Alle rechten voorbehouden.
        <div class="my-6">
            <a href="https://nuuw.studio">
                website door
                <img
                src="/static/img/nuuw-logo.svg"
                alt="Nuuw studio logo"
                class="w-6 h-6 inline transition-transform hover:rotate-12"
                />
            </a>
        </div>
        </div>
  </div>
</footer>