<footer class="p-4 bg-white md:p-8 lg:p-10">
  <div class="max-w-screen-xl mx-auto text-center">
      <a href="/" class="flex items-center justify-center text-2xl font-semibold ">
        <img
            src="/static/img/bemo-logo.svg"
            alt="Bemo expertises logo"
            class="w-32 md:w-52"
        />
      </a>
      <p class="my-6 text-gray-500 ">Deskundigheid die uw vastgoed verdient: BeMo expertises, uw betrouwbare partner.</p>
      <div class="text-sm text-gray-500 sm:text-center ">
        © 2025 <a href="/" class="hover:underline">Bemo expertises</a>.
        Alle rechten voorbehouden.
        <div class="my-6">
            <a href="https://nuuw.studio" title="nuuw studio" target="_blank">
                website door&nbsp;
                <img
                src="/static/img/nuuw-logo.svg"
                alt="Nuuw studio logo"
                class="inline w-6 h-6 transition-transform hover:rotate-12"
                />
            </a>
        </div>
        </div>
  </div>
</footer>